#leftbox{
    border: 3px dashed orange;
    width: 250px;
    height: 220px;
    float: left;
    margin: 5px;
    padding: 5px;
}
#rightbox{
    border: 3px dashed darkslategrey;
    width: 250px;
    height: 220px;
    float: left;
    margin: 5px;
    padding: 5px;
}